.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
        font-size: 3.3rem;
        text-shadow: 2px 3px 0px $color-1;
        text-align: center;
        letter-spacing: 2px;
    }
    nav {
        top: 16px;
        left: 16px;
        font-size: 1.3rem;
        align-self: center;

        ul {
            display: flex;
            width: 230px;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: $white;
                border-radius: 10px;
                text-align: center;
                margin-right: 5px;
                padding: 4px 8px;
                font-size: 1.5rem;

                &:visited {
                    text-decoration: none;
                    color: $white;
                }
                &:hover {
                    background: $black;
                }
            }
            a.nav-active {
                background: $color-1;

                &:hover {
                    background: $black;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .header {
        flex-direction: column;
        margin-bottom: 2rem;
    }
}
